.flash-style{    
    width: 30%;
    margin: auto 0;
    position: absolute;
    top: 10%;
    left: 450px;    
}

.genre-sub-item{
	padding: 0px 20px;
}

.genre-sub-sub-item{
	padding: 0px 40px;
}

.panel-style{
	background-color: #403f3f;
    border-radius: 4px;
}

.navbar-brand-overwrite {   
    padding: 5px 15px;   
}