<div>
	<th-adminnavbar navbar-data='navbarData'></th-adminnavbar>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>Add New Product</h2><br/>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<form class="form-horizontal" name="addNewProductForm">
				<div class="form-group">
					<label for="inputArtist" class="col-sm-4 control-label">Artist</label>
					<div class="col-sm-8">
				  		<input type="text" class="form-control" id="inputArtist" placeholder="Artist" ng-model="inputArtist">
					</div>
			  	</div>
			  	<div class="form-group">
					<label for="inputAlbum" class="col-sm-4 control-label">Album</label>
					<div class="col-sm-8">
				  		<input type="text" class="form-control" id="inputAlbum" placeholder="Album" ng-model="inputAlbum">
					</div>
			  	</div>
				<div class="form-group">
					<label for="selectMediaType" class="col-sm-4 control-label">Media Type</label>
					<div class="col-sm-8">
				  		<select class="form-control" id="selectMediaType" ng-model="selectMediaType">
  							<option>Compact Disc</option> 
							<option>Vinyl Record</option>  							 							
						</select>
					</div>
			  	</div>
				<div class="form-group">
					<label for="selectGenre" class="col-sm-4 control-label">Genre</label>
					<div class="col-sm-8">
				  		<select class="form-control" id="selectGenre" ng-model="selectGenre">
  							<option>Rock</option>
							<option>Heavy</option>
  							<option>Pop</option>  	
							<option>Electronic</option>							
						</select>
					</div>
			  	</div>				
				<div class="form-group">
					<label for="inputPrice" class="col-sm-4 control-label">Price</label>
					<div class="col-sm-8">
				  		<input type="number" class="form-control" id="inputPrice" placeholder="Price" ng-model="inputPrice">
					</div>
			  	</div>				
				<div class="form-group">
					<label for="inputImage" class="col-sm-4 control-label">Image</label>
					<div class="col-sm-8">
				  		<input type="file" id="inputImage" ngf-select ng-model="filee" name="file" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB">
						Image thumbnail: <img style="width:100px;" ngf-thumbnail="filee || '/thumb.jpg'"/>
            			<i ng-show="addNewProductForm.file.$error.required">*required</i><br>
            			<i ng-show="addNewProductForm.file.$error.maxSize">File too large {{filee.size / 1000000|number:1}}MB: max 2M</i>
						<p>{{progress}}</p>
					</div>
			  	</div>				
				<div class="form-group">
					<label for="textareaDescription" class="col-sm-4 control-label">Description</label>
					<div class="col-sm-8">
				  		<textarea class="form-control" id="textareaDescription" rows="3" ng-model="textareaDescription"></textarea>
					</div>
			  	</div>				
			  	<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
				  		<button type="submit" class="btn btn-default" id="buttonAdd" ng-click="addProductClicked()">Add Product</button>
					</div>
			  	</div>
			</form>
		</div>
	</div>
</div>

<div class="flash-style" flash-message="2000" ></div>
			
