<div class="page-header">
  <h1>Record Store Z Administrator <small>Sign In</small></h1>
</div>

<div class="form-group styles_login"
    <form>
        <input type="text" class="form-control" placeholder="username" ng-model="user"><br/>
        <input type="password" class="form-control" placeholder="password" ng-model="pass"><br/>
        <input type="button" value="Sign in" ng-click="signInClicked()"><br/><br/>
        <a href="#/createadmin">Create a new administrator</a>
    </form>
</div>
<div class="flash-style" flash-message="2000" ></div>