<div class="page-header">
  <h1>Record Store Z <small>Create A New Account</small></h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">			
			<form class="form-horizontal">
				<div class="form-group">
					<label for="inputFirstName" class="col-sm-4 control-label">First name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputFirstName" placeholder="first name" ng-model="firstName">
					</div>
				</div>	
				<div class="form-group">
					<label for="inputLastName" class="col-sm-4 control-label">Last name</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputLastName" placeholder="last name" ng-model="lastName">
					</div>
				</div>	
				<div class="form-group">
					<label for="inputEmail" class="col-sm-4 control-label">Email</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputEmail" placeholder="email" ng-model="email">
					</div>
				</div>	
				<div class="form-group">
					<label for="inputPassword" class="col-sm-4 control-label">Password</label>
					<div class="col-sm-8">
						<input type="password" class="form-control" id="inputPassword" placeholder="password" ng-model="pass">
					</div>
				</div>		
				<div class="form-group">
					<label for="inputAddress" class="col-sm-4 control-label">Address</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputAddress" placeholder="address" ng-model="address">
					</div>
				</div>		
				<div class="form-group">
					<label for="inputPostCode" class="col-sm-4 control-label">Post code</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputPostCode" placeholder="post code" ng-model="postCode">
					</div>
				</div>		
				<div class="form-group">
					<label for="inputPhoneNumber" class="col-sm-4 control-label">Phone number</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="inputPhoneNumber" placeholder="phone number" ng-model="phoneNumber">
					</div>
				</div>		
				<div class="form-group">
					<div class="col-sm-offset-4 col-sm-8">
						<input class="btn btn-primary" type="button" value="Create" ng-click="registerClicked()">
					</div>
				</div>
				<div class="form-group">	
					<div class="col-sm-4">
						<a href="#/login">Sign in</a></br>					
						<a href="#/">Main page</a>						
					</div>
				</div>
			</form>			
		</div>
	</div>
</div>

<div class="flash-style" flash-message="2000" ></div>