<!DOCTYPE html>
<html ng-app='main_module'>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Record Store Z</title>
		<link href="/FrontEnd/css/angular-flash.min.css">
        <link href="/FrontEnd/css/bootstrap.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet">
        <link href="/FrontEnd/css/styles.css" type="text/css" rel="stylesheet">   
		<link href="/FrontEnd/css/sortable-theme-bootstrap.css" type="text/css" rel="stylesheet">
    </head>
    <body>
        <div ng-view></div>
        <script src="/FrontEnd/lib/jquery-2.1.4.min.js"></script>
        <script src="/FrontEnd/lib/angular.min.js"></script>
        <script src="/FrontEnd/lib/angular-route.min.js"></script>
        <script src="/FrontEnd/lib/angular-resource.min.js"></script> 
        <script src="/FrontEnd/lib/bootstrap.min.js"></script>
		<script src="/FrontEnd/lib/angular-flash.min.js"></script>
		<script src="/FrontEnd/lib/sortable.min.js"></script>
		<script src="/FrontEnd/lib/ng-file-upload-shim.min.js"></script>
		<script src="/FrontEnd/lib/ng-file-upload.min.js"></script>
        <script src="/FrontEnd/modules/mainModule.js"></script> 
        <script src="/FrontEnd/factories/factoryAdmin.js"></script>
        <script src="/FrontEnd/controllers/controllerCreateAdmin.js"></script>
        <script src="/FrontEnd/controllers/controllerAdminSignIn.js"></script> 
		<script src="/FrontEnd/controllers/controllerAdminOrders.js"></script>
		<script src="/FrontEnd/controllers/controllerAddNewProduct.js"></script>
		<script src="/FrontEnd/controllers/controllerAllProducts.js"></script>
		<script src="/FrontEnd/controllers/controllerNewOrders.js"></script>
		<script src="/FrontEnd/controllers/controllerSearchOrders.js"></script>
		<script src="/FrontEnd/directives/adminNavbar_directive.js"></script>
    </body>
</html>