<div>
	<th-navbar navbar-data='navbarData'></th-navbar>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">					
			<ul class="nav nav-pills nav-stacked panel-style">
				<li role="presentation" id="home" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Home</a></li>
				<li class="genre-sub-item" id="vinyl" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Vinyl Records</a></li>
  				<li class="genre-sub-sub-item" id="vinylRock" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Rock</a></li>
  				<li class="genre-sub-sub-item" id="vinylPop" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Pop</a></li>
  				<li class="genre-sub-sub-item" id="vinylHeavy" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Heavy</a></li>
				<li class="genre-sub-sub-item" id="vinylElectronic" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Electronic</a></li>
				<li class="genre-sub-item" id="cd" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Compact Discs</a></li>
  				<li class="genre-sub-sub-item" id="cdRock" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Rock</a></li>
  				<li class="genre-sub-sub-item" id="cdPop" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Pop</a></li>
  				<li class="genre-sub-sub-item" id="cdHeavy" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Heavy</a></li>
				<li class="genre-sub-sub-item" id="cdElectronic" role="presentation" ng-click="showProductsFromGenre($event,1)"><a class="link-style" href="">Electronic</a></li>
			</ul>
			</br>
		</div>
		<div class="col-sm-9">
			<ol class="breadcrumb panel-style">			
				<li ng-repeat="data in breadcrumbData.ids" id="{{breadcrumbData.ids[$index]}}" ng-click="showProductsFromGenre($event,1)">
					<a class="link-style" href="">{{breadcrumbData.texts[$index]}}</a>				
				</li> 				
			</ol>
			<div class="row" style="display:flex; flex-wrap: wrap;">				
				<div ng-repeat="product in products" class="col-xs-4 col-sm-3 col-md-2">
					<div class="thumbnail thumbnail-overwrite">
						<a href="#/product/" class="">
				  		<img src="/productimages/{{product.imageFileName}}" alt="No Image">
				  		<div class="thumbnail-caption-overwrite">
							<h5>{{product.artist}} - {{product.album}}</h5>
							<h6>{{product.mediaTypeShort}}, {{product.genre}}, {{product.price}}€</h6>										
				  		</div>
						</a>
					</div>
			  	</div>					
			</div>	
			<p ng-show="products.length == 0">0 products found.</p>
			<nav aria-label="Page navigation">
  				<ul class="pagination">
    				<li ng-click="showProductsFromGenre($event,(currentPage-1))">
      					<a href="" aria-label="Previous">
        					<span aria-hidden="true">&laquo;</span>
      					</a>
    				</li>					
					<li ng-repeat="page in pageCount" ng-click="showProductsFromGenre($event,page.nr)" class="{{page.class}}">
						<a href="">{{page.nr}}</a>
					</li>					
					<li ng-click="showProductsFromGenre($event,(currentPage+1))">
					  	<a href="" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
					  	</a>
					</li>
  				</ul>
			</nav>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-12">	
			</br>
			<div class="panel panel-default panel-style">
  				<div class="panel-body">
    				Web-ohjelmistokehityksen koulutusohjelman projektityö - Tero Hiltunen 2016-2017
					<a href="#/adminorders/" class="link-style" style="float: right">Admin site</a>
  				</div>
			</div>
		</div>
	</div>	
</div>

