<div>
	<th-navbar navbar-data='navbarData'></th-navbar>
</div>

<div class="container-fluid">
	<div class="row">		
		<div class="col-sm-12">
			<ol class="breadcrumb panel-style">			
				<li ng-repeat="data in breadcrumbData.ids" id="{{breadcrumbData.ids[$index]}}" ng-click="showProductsFromGenre($event)">
					<a class="link-style" href="">{{breadcrumbData.texts[$index]}}</a>				
				</li> 				
			</ol>				
		</div>	
	</div>	
	<div class="row">		
		<div class="col-sm-3">
			<br><div class="thumbnail thumbnail-overwrite">
			<img src="/productimages/{{product.imageFileName}}" alt="No Image">
			</div>
		</div>
		<div class="col-sm-7">
			<h1>{{product.artist}}</h1>
			<h1>{{product.album}}</h1>
			<h5>{{product.description}}</h5>
			<h2>{{product.price}}€</h2>
		</div>
	</div>
</div>

