<div class="page-header">
  <h1>Record Store Z <small>Sign In</small></h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<form>
					<input type="text" class="form-control" placeholder="email" ng-model="user"><br/>
					<input type="password" class="form-control" placeholder="password" ng-model="pass"><br/>
					<input class="btn btn-primary" type="button" value="Sign in" ng-click="signInClicked()"><br/><br/>
					<a href="#/createaccount">Create a new account</a></br>
					<a href="#/">Main page</a>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="flash-style" flash-message="2000" ></div>